.main-paper {
    margin: 64px auto !important;
    align-self: center;
    max-width: 400px;
}

.title-method {
    padding-top: 25px;
}

.function-footer {
    padding-top: 15px;
}

.btn-login {
    height: 40px;
    line-height: 34px;
    cursor: pointer;
    margin-top: 25px;
    padding: 0px 6px;
    border-radius: 5px;
    border: 1px solid black;
}

.btn-login svg {
    width: 25px;
    position: relative;
    top: 6px;
    left: -39%;
}

.login-fb {
    background-color: #4267b2;
    color: white;
}

.login-gg svg {
    width: 25px;
    position: relative;
    top: 6px;
    left: -39%;
}

.login-fb svg {
    width: 25px;
    position: relative;
    top: 6px;
    left: -37%;
}
